@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /*padding-bottom: 600px;*/
    color: #252D34;
}

input,
button{
    border: none;
    background-color: transparent;
    display: block;
    font-family: "Montserrat", sans-serif;
}

.blue_btn{
    width: 255px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0595F7;
    border: 1px solid #0595F7;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: color .3s, background-color .3s;
}

.blue_btn:hover{
    background-color: #fff;
    color: #0595F7;
}

/***************************************
***************************************
haeder
***************************************
***************************************/

.mobile_header{
    display: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.head_logo{
    display: block;
}

.head_info{
    padding-left: 17px;
    font-size: 13px;
    border-left: 1px solid #ccc;
}

.head_info span{
    display: block;
    font-weight: bold;
}

.head_lang{
    position: relative;
}

.head_lang img{
    display: block;
}

.head_lang_current{
    display: flex;
    align-items: center;
    padding: 5px;
}

.head_lang_current:after{
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    background-image: url(../img/lang_arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.head_lang_list{
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 5;
}

.head_lang:hover .head_lang_list{
    display: block;
}

.head_lang_list li{
    list-style: none;
}

.head_lang_list li a{
    display: block;
    padding: 5px;
}

.head_lang a:hover{
    background-color: #eee;
}

.head_social{
    display: flex;
}

.head_social_item{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #F3F3F5;
    transition: .3s;
}

.head_social_item svg{
    fill: #0595F7;
    transition: .3s;
}

.head_social_item:hover{
    background-color: #0595F7;
}

.head_social_item:hover svg{
    fill: #fff;
}

.head_social_item + .head_social_item{
    margin-left: 21px;
}

.head_contacts{

}

.head_contacts_tel{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2px;
}

.head_contacts_tel img{
    margin-right: 16px;
}

.head_contacts_text{
    font-size: 12px;
    color: #000;
}

.head_order_btn{
    width: 190px;
    height: 50px;
    font-size: 14px;
    text-align: center;
}

.head_sign_up{
    width: 130px;
    padding: 0 18px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    border: 1px solid #72d60e;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.head_sign_up span{
    opacity: .8;
    font-size: 14px;
    transition: .3s;
}

.head_sign_up:hover span{
    opacity: 1;
}

.head_sign_up span:first-child{
    margin-top: auto;
    /*margin-bottom: 5px;*/
}

.head_sign_up span:last-child{
    margin-bottom: auto;
}


.head_sign_up img{
    margin-left: auto;
    margin-bottom: -5px;
}

/***************************************
***************************************
top navigation
***************************************
***************************************/

.top_nav_wrap{
    background-color: #052852;
}

.top_nav_list{
    display: flex;
    justify-content: center;
}

.top_nav_list > li{
    list-style: none;
    position: relative;
    transition: background-color .3s;
}

.top_nav_list > li > a{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.top_submenu_one,
.top_submenu_two{
    display: none;
}

.top_nav_list li:hover > div{
    display: block;
}

.top_nav_list > li:hover{
    background-color: #0595f6;
}

.top_submenu_one{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9990;
}

.submenu_one_list{
    box-shadow: 0 14px 24px rgba(2, 15, 28, 0.11);
    border-radius: 0 0 10px 10px;
}

.submenu_one_list li{
    list-style: none;
    position: relative;
    background-color: #fff;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #E9E9EE;
    transition: .3s;

}

.submenu_one_list li a{
    width: 293px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 28px;
    font-weight: 600;
    color: #252D34;
}

.submenu_one_list li svg{
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    fill: #252D34;
    transition: fill .3s;
}

.submenu_one_list li:hover svg{
    fill: #0595F7;
}

.submenu_one_list li:hover{
    background-color: #F5F5F7;
    border-left-color: #0595F7;
    border-bottom-color: transparent;
}

.submenu_one_list li:last-child{
    border-radius: 0 0 10px 10px;
}

.submenu_one_list li:last-child:hover{
    border-radius: 0 0 10px 0;
}

.submenu_two_list li:first-child{
    border-radius: 0 10px 0 0;
}

.top_submenu_two{
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    border-radius: 0 10px 10px 10px;
}

.submenu_two_list{
    box-shadow: 0 14px 24px rgba(2, 15, 28, 0.11);
    border-radius: 0 10px 10px 10px;
}

/***************************************
***************************************
main first section
***************************************
***************************************/

.main_first_section_wrap{
    background-image: url(../img/first_bg.jpg);
    background-position: center -13px;
    background-size: cover;
    background-repeat: no-repeat;
}

.main_first_section{
    width: 657px;
    padding-top: 62px;
    padding-bottom: 140px;
}

.main_first_title{
    font-weight: 600;
    font-size: 44px;
    color: #252D34;
    margin-bottom: 14px;
}

.main_first_title img{
    vertical-align: middle;
    margin-right: 15px;
}

.main_first_desc{
    font-size: 18px;
    color: #252D34;
    margin-bottom: 52px;
}

.main_first_desc span{
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
}

.main_first_item{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #252D34;
}

.main_first_item + .main_first_item{
    margin-top: 36px;
}

.main_first_item span span{
    font-weight: bold;
}

.main_first_item img{
    display: block;
    margin-right: 18px;
}

.main_first_btn{
    margin-top: 57px;
}

/***************************************
***************************************
calculate price
***************************************
***************************************/

.calculate_price_section{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 37px 40px 50px;
    position: relative;
    background-image: url(../img/form_bg.svg);
    background-repeat: no-repeat;
    display: flex;
}

.calculate_price_section.main{
    width: 810px;
}

.calculate_price_section.indiv{
    width: 100%;
    padding-right: 30px;
}

.calculate_price_left{
    position: relative;
    flex: 1;
}

.calculate_price_title{
    font-weight: 600;
    font-size: 50px;
    color: #252D34;
    margin-bottom: 7px;
}

.calculate_price_desc{
    font-size: 20px;
    text-transform: uppercase;
    color: #252D34;
    margin-bottom: 40px;
}

.calculate_price_form_row{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.calculate_price_form_item{
    flex: 1;
}

.calculate_price_form_item + .calculate_price_form_item{
    margin-left: 30px;
}

.calculate_price_form_item_name{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #252D34;
    margin-bottom: 7px;
}

.calculate_price_select{
    position: relative;
}

.calculate_price_select.open{
    z-index: 2;
}

.calculate_price_select_head{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px 0 30px;
    background-color: #fff;
    border: 1px solid #DADBDA;
    border-radius: 6px;
    color: #818a92;
    cursor: pointer;
}

.calculate_price_select_head svg{
    fill: #808589;
    transition: transform .3s;
}

.calculate_price_select.open .calculate_price_select_head svg{
    transform: rotate(180deg);
}

.calculate_price_select.selected .calculate_price_select_head{
    border-color: #91979B;
    color: #252D34;
}

.calculate_price_select.selected .calculate_price_select_head svg{
    fill: #252D34;
}

.calculate_price_select.open .calculate_price_select_head{
    border-radius: 6px 6px 0 0;
    border-bottom: none;
    border-color: #DADBDA;
}

.calculate_price_select_list_wrap{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid #DADBDA;
    border-radius: 0 0 6px 6px;
    border-top: none;
}

.calculate_price_select.open .calculate_price_select_list_wrap{
    display: block;
}

.calculate_price_select_list{
    padding: 5px;
}

.calculate_price_select_list_item input{
    display: none;
}

.calculate_price_select_list_item input:checked + label{
    font-weight: bold;
    pointer-events: none;
}

.calculate_price_select_list_item label{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    color: #252D34;
    border-radius: 5px;
    cursor: pointer;
}

.calculate_price_select_list_item label:hover{
    background-color: #F5F5F7;
}

input.calculate_price_select_head{
    width: 100%;
    display: block;
    cursor: text;
    outline: none;
    color: #252D34;
    font-size: 16px;
}

input.calculate_price_select_head::placeholder{
    color: #818A92;
}

input.calculate_price_select_head:not(:placeholder-shown){
    border-color: #91979B;
}

.calculate_price_form_additional_wrap{
    display: none;
}

.calculate_price_form_additional_form{
    padding-bottom: 40px;
}

.calculate_price_form_additional_text{
    width: max-content;
    display: flex;
    align-items: center;
    color: #0595F7;
    cursor: pointer;
    margin-bottom: 23px;
}

.calculate_price_form_additional_text svg{
    fill: #0595F7;
    margin-left: 9px;
    transition: .3s;
}

.calculate_price_form_additional_text.active svg{
    transform: rotate(180deg);
}

.calculate_price_form_additional_origin_wrap{
    margin-bottom: 20px;
}

.calculate_price_form_additional_origin_text{
    font-size: 14px;
    margin-bottom: 10px;
}

.calculate_price_form_additional_origin_slider_inp{
    width: 100%;
    background: linear-gradient(to right, #8faf40 0%, #f3f3f3 0%);
}

.calculate_price_form_additional_text_input{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    resize: none;
    outline: none;
    margin-bottom: 5px;
}

.calculate_price_form_additional_origin_slider{
    background: linear-gradient(to right, #052852 0%, #052852 55%, #fff 55%, #fff 100%);
    height: 5px;
    border-radius: 3px;
}

.ui-slider .ui-slider-handle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid #052852;
    background-color: #fff;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: col-resize;
}

.calculate_price_form_additional_drag_n_drop{
    display: none;
}

.calculate_price_form_additional_drag_n_drop_label{
    width: 100%;
    height: 70px;
    border: 3px dashed #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

.calculate_price_form_additional_drag_n_drop_label img{
    width: 20px;
    margin-right: 8px;
}

.calculate_price_form_additional_drag_n_drop_info{
    font-size: 14px;
    color: #8f8f8f;
    margin-top: 5px;
}

.calculate_price_form_info_text{
    font-size: 12px;
    color: #818A92;
    margin-bottom: 27px;
}

.calculate_price_form_info_text a{
    text-decoration: underline;
}

.calculate_price_form_bottom_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculate_price_form_send_btn{

}

.calculate_price_form_send_info{
    display: flex;
    align-items: center;
}

.calculate_price_form_send_info img{
    margin-right: 11px;
}

.calculate_price_right{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculate_price_right_item{
    display: flex;
    align-items: center;
    max-width: 255px;
}

.calculate_price_right_item + .calculate_price_right_item{
    /*margin-top: 37px;*/
}

.calculate_price_right_item_img{
    margin-right: 10px;
    position: relative;
}

.calculate_price_right_item_img img{
    display: block;
}

.calculate_price_right_item_title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.calculate_price_right_item_text{
    font-size: 14px;
}

/***************************************
***************************************
we write
***************************************
***************************************/

.we_write_section_wrap{
    /*height: 1220px;*/
    background-image: url(../img/we_write_bg.jpg);
    background-size: cover;
    background-position: center top;
}

.we_write_section{
    padding-top: 150px;
    padding-bottom: 170px;
}

.page_title{
    font-weight: 600;
    font-size: 50px;
}

.page_title.white{
    display: flex;
    align-items: center;
    color: #fff;
}

.page_title.white img{
    margin-left: 25px;
    margin-bottom: -10px;
}

.page_title.dark{
    display: flex;
    align-items: center;
}

.page_title.dark img{
    margin-left: 25px;
    margin-bottom: -10px;
}

.page_title.small{
    font-size: 30px;
}

.page_title.small img{
    margin-bottom: -5px;
}

.we_write_offers_list{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 43px;
    padding-bottom: 66px;
    margin-bottom: 6px;
}

.we_write_offer_item{
    width: 255px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.we_write_offer_item_title{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.we_write_offer_item:nth-child(1) .we_write_offer_item_title{
    background-color: #72d60e;
}
.we_write_offer_item:nth-child(2) .we_write_offer_item_title{
    background-color: #0595f7;
}
.we_write_offer_item:nth-child(3) .we_write_offer_item_title{
    background-color: #f7b500;
}
.we_write_offer_item:nth-child(4) .we_write_offer_item_title{
    background-color: #6F7AE3;
}

.we_write_offer_item_title img{
    margin-left: 10px;
}

.we_write_offer_item_content{
    background-color: #fff;
    padding: 18px 15px;
    flex: 1;
}

.we_write_offer_item_content_row{
    font-size: 14px;
    padding-left: 13px;
}

.we_write_offer_item_content_row + .we_write_offer_item_content_row{
    margin-top: 15px;
}

.we_write_offer_item_content_title{
    font-weight: bold;
    margin-bottom: 3px;
    position: relative;
}

.we_write_offer_item_content_title:before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
    background-image: url(../img/we_offer_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.we_write_offer_item_price{
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 15px 18px;
    background-color: #F5F5F7;
    border-radius: 0 0 10px 10px;
}

.we_write_offer_item:hover .we_write_offer_item_price{
    border-radius: 0;
}

.we_write_offer_item_price span{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -2px;
}

.we_write_offer_item_btn_wrap{
    display: none;
    width: 100%;
    padding: 1px 15px 15px;
    background-color: #F5F5F7;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 0;
    top: 100%;
}

.we_write_offer_item:hover .we_write_offer_item_btn_wrap{
    display: block;
}

.we_write_offer_item_btn{
    width: 100%;
    height: 50px;
    background-color: #0595F7;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.we_write_additional_list{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    grid-gap: 30px;
}

.we_write_additional_item{
    background-color: #fff;
    padding: 17px 17px 14px;
    border-radius: 10px;
}

.we_write_additional_item_title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    padding-left: 17px;
    position: relative;
}

.we_write_additional_item_title:before{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/we_offer_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.we_write_additional_item_price{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.we_write_additional_item_price span{
    font-weight: 600;
    font-size: 24px;
    color: #0595F7;
}

/***************************************
***************************************
examples tabs
***************************************
***************************************/

.examples_tabs_section_wrap{
    padding-top: 40px;
}

.examples_tabs_nav{
    display: flex;
    justify-content: space-between;
}

.examples_tabs_nav_link{
    height: 70px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 40px;
}

.examples_tabs_nav_link.active{
    background-color: #fff;
    box-shadow: 0 4px 34px rgba(0, 0, 0, 0.13);
    border-radius: 20px 20px 0 0;
    color: #0595f7;
}

.examples_tabs_nav_link svg{
    fill: #252D34;
    margin-right: 15px;
}

.examples_tabs_nav_link.active svg{
    fill: #0595F7;
}

.examples_tabs_content{
    display: none;
    padding: 40px 30px 30px;
    background-color: #fff;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    position: relative;
}

.examples_tabs_content:nth-child(1){
    border-radius: 0 20px 20px 20px;
}
.examples_tabs_content:nth-child(3){
    border-radius: 20px 0 20px 20px;
}

.examples_tabs_content.active{
    display: block;
}

.examples_list_slider{
    padding-bottom: 47px;
    position: relative;
}

.examples_list_slider_item{
    background-color: #fff;
    border: 1px solid #DADBE3;
    border-radius: 10px;
    width: 255px;
    margin: auto;
}

.examples_list_slider_item_title{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #E2E7EB;
    border-radius: 10px 10px 0 0;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
}

.examples_list_slider_item_content{
    padding: 15px;
}

.examples_list_slider_item_download_btn{
    width: 100%;
    height: 50px;
    margin-top: 17px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #0595F7;
    cursor: pointer;
    transition: .3s;
}

.examples_list_slider_item_btn_left{
    display: flex;
    align-items: center;
    color: #0595F7;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
}

.examples_list_slider_item_btn_left svg{
    margin-right: 12px;
    fill: #0595F7;
    transition: .3s;
}

.examples_list_slider_item_btn_right{
    font-size: 14px;
    color: #818a92;
    transition: .3s;
}

.examples_list_slider_item_download_btn:hover{
    background-color: #0595F7;
}

.examples_list_slider_item_download_btn:hover .examples_list_slider_item_btn_left svg{
    fill: #fff;
}

.examples_list_slider_item_download_btn:hover .examples_list_slider_item_btn_left{
    color: #fff;
}

.examples_list_slider_item_download_btn:hover .examples_list_slider_item_btn_right{
    color: #fff;
}

.examples_list_slider_btn{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    outline: none;
}

.examples_list_slider_btn svg{
    fill: #919296;
}

.examples_list_slider_btn:hover svg{
    fill: #0595f6;
}

.examples_list_slider_btn.prev_btn{
    left: 0;
}

.examples_list_slider_btn.next_btn{
    right: 0;
}

.examples_list_slider_dots{
    height: 28px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.examples_list_slider_dots li{
    list-style: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid transparent;
    padding: 2px;
    background-color: #fff;
    margin: 0 4px;
    transition: .3s;
}

.examples_list_slider_dots li.slick-active{
    border-color: #0595F7;
}

.examples_list_slider_dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #D3D3D5;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.examples_list_slider_dots li.slick-active button{
    background-color: #0595F7;
}

.examples_last_works_head{
    display: flex;
    text-align: center;
    border-bottom: 2px solid #565656;
}

.examples_last_works_row{
    display: flex;
    text-align: center;
    font-size: 14px;
}

.examples_last_works_row:nth-child(odd){
    background-color: #f2f7ec;
}

.examples_last_works_head{
    font-weight: bold;
    font-size: 14px;
}

.examples_last_works_head > div,
.examples_last_works_row > div{
    padding: 15px 0;
}

.examples_last_works_col_1{
    width: 120px;
}

.examples_last_works_col_2{
    width: 170px;
}

.examples_last_works_col_3{
    flex: 1;
    text-align: left;
}

.examples_last_works_col_4{
    width: 170px;
}

.examples_tab_reviews_slider{
    padding-bottom: 50px;
}

.examples_tab_reviews_item_wrap{
    outline: none;
}

.examples_tab_reviews_item{
    width: 320px;
    border: 1px solid #DADBE3;
    border-radius: 10px;
    margin: auto;
}

.examples_tab_reviews_item_img{
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.examples_tab_reviews_item_content{
    padding: 13px 20px 17px;
    /*border: 1px solid #DADBE3;*/
    border-top: 1px solid #DADBE3;;
    border-radius: 0 0 10px 10px;
}

.examples_tab_reviews_item_title{
    font-weight: bold;
    margin-bottom: 7px;
}

.examples_tab_reviews_item_text{
    font-size: 14px;
}

/***************************************
***************************************
how it works
***************************************
***************************************/

.how_it_works_section_wrap{
    padding-top: 87px;
}

.how_it_works_title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 37px;
}

.how_it_works_title span{
    margin: 0 25px;
}

.how_it_works_tabs{
    display: flex;
}

.how_it_works_steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 21px;
    flex: none;
    padding-top: 10px;
}

.how_it_works_step_number{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0595F7;
    border-radius: 100%;
    font-weight: bold;
    font-size: 24px;
    color: #0595F7;
    cursor: pointer;
}

.how_it_works_step_number.active{
    background-color: #0595F7;
    color: #fff;
}

.how_it_works_steps img{
    margin: 9px 0 8px;
}

.how_it_works_links{
    margin-right: 30px;
}

.how_it_works_link_item{
    width: 380px;
    padding: 19px 15px;
    border: 1px solid #DADBE3;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}

.how_it_works_link_item.active{
    border-color: transparent;
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.12);
    font-weight: 600;
}

.how_it_works_link_item:first-child{
    margin-bottom: 20px;
}

.how_it_works_link_item:last-child{
    margin-bottom: 0;
}

.how_it_works_tab_content{
    flex: 1;
    position: relative;
}

.how_it_works_tab_item{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: .8s;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    border: 1px solid #FFFFFF;
}

.how_it_works_tab_item.active{
    opacity: 1;
}

/***************************************
***************************************
faq
***************************************
***************************************/

.faq_section_wrap{
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../img/faq_bg.jpg);
    background-position: center;
    background-size: cover;
}

.faq_accordion{
    margin-top: 38px;
}

.faq_accordion_item{
    color: #fff;
    margin-left: 100px;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.faq_accordion_item_head{
    display: flex;
    align-items: stretch;
    padding: 10px 0;
}

.faq_accordion_item_head_num_wrap{
    width: 70px;
    height: 70px;
    padding: 5px;
    border: 1px solid #0595f6;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
    transition: background-color .3s;
}

.faq_accordion_item.active .faq_accordion_item_head_num_wrap{
    background-color: #0595f6;
}

.faq_accordion_item_head_num{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #0595f6;
    border-radius: 100%;
}

.faq_accordion_item_head_title{
    width: 100%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    cursor: pointer;
}

.faq_accordion_item_head_title_symbol{
    width: 20px;
    height: 20px;
    position: relative;
}

.faq_accordion_item_head_title_symbol:before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0595f6;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.faq_accordion_item_head_title_symbol:after{
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    background-color: #0595f6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: height .3s;
}

.faq_accordion_item.active .faq_accordion_item_head_title_symbol:after{
    height: 0;
}

.faq_accordion_item_content{
    display: none;
    margin-bottom: 38px;
}

.faq_all_questions_btn{
    margin: 40px auto 0;
}

/***************************************
***************************************
News
***************************************
***************************************/

.main_news_head{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_news_head_all_btn{
    width: 185px;
    height: 50px;
}

.main_news_item_wrap{
    padding: 50px 0;
    outline: none;
}

.main_news_item{
    width: 350px;
    border-radius: 10px;
    margin: 0 auto;
}

.main_news_item:hover{
    border-color: transparent;
    /*box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.13);*/
    box-shadow: 0px 6px 12px rgba(84, 0, 114, 0.24);
}

.main_news_slider{
    /*padding-bottom: 50px;*/
}

.main_news_item_img{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: block;
}

.main_news_item_content{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    border: 1px solid #DADBE3;
    border-top: none;
    padding: 14px 20px;
}

.main_news_item_title{
    font-weight: bold;
    margin-bottom: 7px;
}

.main_news_item_text{
    font-size: 14px;
    margin-bottom: 21px;
}

.main_news_item_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    border-top: 1px solid #DADBE3;
}

.main_news_item_date{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.main_news_item_date img{
    margin-right: 9px;
}

.main_news_item_more_link{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #0595f7;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.main_news_item_more_link:after,
.main_news_item_more_link:before{
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: #0595F7;
    transition: .3s;
}

.main_news_item_more_link:before{
    margin-right: 9px;
}

.main_news_item_more_link:after{
    width: 0;
}

.main_news_item_more_link:hover:before{
    margin-right: 0;
    width: 0;
}

.main_news_item_more_link:hover:after{
    margin-left: 9px;
    width: 20px;
}

/***************************************
***************************************
Seo text
***************************************
***************************************/

.how_to_order_section_wrap{
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(../img/how_order_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.how_to_order_section{

}

.how_to_order_title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 37px;
    max-width: 600px;
}

.how_to_order_title img{
    /*margin-left: 25px;*/
}

.how_to_order_img{
    display: block;
    width: 445px;
    border-radius: 10px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
}

.how_to_order_img_left{
    display: block;
    width: 445px;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
}

.seo_text:after{
    content: '';
    display: table;
    clear: both;
}

.seo_text p{
    margin-bottom: 33px;
    line-height: 1.6;
}

.seo_text p:last-child{
    margin-bottom: 0;
}

.seo_text a{
    color: #0595F6;
    text-decoration: underline;
}

.seo_text a:hover{
    text-decoration: none;
}

.h1_header{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 22px;
}

.h2_header{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.h3_header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.h4_header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.h5_header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

/***************************************
***************************************
Footer
***************************************
***************************************/

.footer_wrap{
    padding-top: 60px;
    background-image: url(../img/footer_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer_top{
    display: flex;
}

.footer_col.info{
    width: max-content;
    margin-right: 98px;
}

.foot_logo{
    margin-bottom: 27px;
}

.foot_contacts{
    color: #fff;
    margin-bottom: 37px;
}

.foot_tel{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.foot_tel img{
    margin-right: 16px;
}

.foot_tel_text{
    font-size: 12px;
}

.foot_payments{
    display: flex;
    align-items: center;
}

.foot_payments_item{
    width: 70px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
}

.foot_payments_item + .foot_payments_item{
    margin-left: 10px;
}

.footer_col.list{
    flex: 1;
    padding-top: 17px;
}

.foot_list li{
    list-style: none;
}

.foot_list li a{
    width: max-content;
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    color: #aeb7bf;
    line-height: 1.9;
    transition: .3s;
}

.foot_list li a:hover{
    color: #fff;
}

.foot_list li a:before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-image: url(../img/foot_play.svg);
    background-repeat: no-repeat;
    margin-right: 9px;
    transition: .3s;
}

.foot_list li a:hover:before{
    width: 13px;
}

.foot_list.list_two{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot_list.list_two li a{
    line-height: 22px;
    align-items: flex-start;
}

.foot_list.list_two li a:before{
    margin-top: 7px;
}

.footer_bottom{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 33px;
    border-top: 1px solid #FFFFFF;
}

.foot_copy{
    font-size: 12px;
    color: #fff;
    opacity: .6;
}

/***************************************
***************************************
Individual first
***************************************
***************************************/

.indiv_first_section_wrap{
    height: 800px;
    background-image: url(../img/indiv_first_bg.jpg);
    background-size: cover;
    background-position: center -14px;
    background-repeat: no-repeat;
}

.indiv_first_section{
    padding-top: 26px;
}

.indiv_first_breadcrumbs{
    display: flex;
    align-items: center;
    margin-bottom: 89px;
}

.indiv_first_breadcrumbs li{
    font-size: 14px;
    color: #fff;
    list-style: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.indiv_first_breadcrumbs li:after{
    content: '';
    display: block;
    width: 12px;
    height: 10px;
    margin-left: 13px;
    background-image: url(../img/bread_arrow.svg);
    opacity: .6;
}

.indiv_first_breadcrumbs li:last-child:after{
    display: none;
}

.indiv_first_breadcrumbs li:nth-last-child(2):after{
    opacity: 1;
}

.indiv_first_breadcrumbs li img{
    margin-right: 8px;
}

.indiv_first_breadcrumbs li a{
    opacity: .6;
}

.indiv_first_title{
    color: #fff;
    max-width: 740px;
    margin-bottom: 43px;
}

.indiv_first_desc{
    font-size: 18px;
    margin-bottom: 63px;
    color: #fff;
    line-height: 1.4;
}

.indiv_first_list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;
}

.indiv_first_list_item{
    display: flex;
    align-items: flex-start;
    max-width: 350px;
}

.indiv_first_list_item_text{
    color: #fff;
    line-height: 1.6;
    font-size: 14px;
}

.indiv_first_list_item_text span{
    font-weight: bold;
}

.indiv_first_list_item img{
    margin-right: 18px;
}

/***************************************
***************************************
Individual features
***************************************
***************************************/
.indiv_features_section_wrap{
    background-image: url(../img/feat_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 200px;
}

.indiv_features_list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.indiv_features_item{
    width: 255px;
    height: 237px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    text-align: center;
}

.indiv_features_item_icon{
    margin-bottom: 12px;
}

.indiv_features_item_title{
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

.indiv_features_item_text{
    font-size: 18px;
    color: #fff;
}

/***************************************
***************************************
Individual we help
***************************************
***************************************/

.how_it_works_title.we_help{
    margin-bottom: 0;
}

.indiv_we_help_slider{
    padding-bottom: 20px;
}

.indiv_we_help_slider_item_wrap{
    padding: 50px 0;
}

.indiv_we_help_slider_item{
    width: 255px;
    height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #DADBE3;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
}

.indiv_we_help_slider_item:hover{
    border-color: transparent;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.13);
}

.indiv_we_help_slider_item_img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 24px;
}

.indiv_we_help_slider_item_text{
    font-size: 24px;
    font-weight: bold;
}

/***************************************
***************************************
Individual stages
***************************************
***************************************/

.indiv_stages_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    justify-content: space-between;
    grid-row-gap: 30px;
}

.indiv_stages_item{
    width: 100%;
    border: 1px solid #DADBE3;
    border-radius: 10px;
    background-color: #fff;
    padding: 31px 13px 20px 15px;
    background-image: url(../img/stages_item_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.indiv_stages_item:nth-child(6){
    grid-column-start: 2;
    grid-column-end: 4;
}

.indiv_stages_item_title{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}

.indiv_stages_item_title span{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.indiv_stages_item_text{
    font-size: 14px;
    line-height: 1.6;
}

/***************************************
***************************************
Individual warranty
***************************************
***************************************/

.text_section{
    background-image: url(../img/indev_text_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0 100px;
}

/***************************************
***************************************
Individual other cities
***************************************
***************************************/

.how_to_order_title.cities_title{
    max-width: 960px;
}

.cities_list{
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}

.cities_item + .cities_item{
    margin-left: 10px;
}

.cities_item input{
    display: none;
}

.cities_item label{
    height: 50px;
    /*padding: 0 30px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DADBE3;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: .3s;
}

.cities_item input:checked + label{
    background-color: #0595f7;
    border-color: #0595f7;
    color: #fff;
    font-weight: bold;
}

.cities_item:nth-child(1) label{
    width: 204px;
}
.cities_item:nth-child(2) label{
    width: 155px;
}
.cities_item:nth-child(3) label{
    width: 122px;
}
.cities_item:nth-child(4) label{
    width: 129px;
}
.cities_item:nth-child(5) label{
    width: 112px;
}

.cities_form{
    padding: 46px 40px 50px;
    background-color: #fff;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    background-image: url(../img/form_bg.svg);
    background-repeat: no-repeat;
    background-position: -15px -70px;
    border: 1px solid #fff;
    margin-bottom: 30px;
}

.cities_form_desc{
    font-size: 20px;
    margin-bottom: 2px;
}

.cities_form_title{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 27px;
}

.cities_form_input_row{
    display: flex;
    align-items: center;
}

.cities_form_input_row input{
    height: 60px;
    display: block;
    flex: 1;
    border: 1px solid #DADBDA;
    border-radius: 6px;
    padding: 0 30px;
    background-color: #fff;
    margin-right: 30px;
}

.cities_form_input_row input::placeholder{
    color: #818A92;
}

.how_to_order_section_wrap h1{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 22px;
}

.how_to_order_section_wrap h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.how_to_order_section_wrap h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.how_to_order_section_wrap h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.how_to_order_section_wrap h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.how_to_order_section_wrap img.alignright{
    display: block;
    width: 445px;
    border-radius: 10px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
}

.how_to_order_section_wrap img.alignleft{
    display: block;
    width: 445px;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.13);
}
.page_section_wrap
{
    min-height: 300px;
}
.page_section_wrap .page_title h1
{
    font-size: 30px;

    margin: 0 25px;
}

.page_section_wrap .page_title
{
    margin-top: 20px;
}
.page_section_wrap .page_desc
{
    margin-bottom: 30px;

    word-wrap: break-word;
}
.page_section_wrap .page_desc p
{
    font-size: 16px;
    line-height: 1.6em;

    margin-top: 15px;
    margin-bottom: 15px;

    color: #363636;
}
.category_slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.category_slider .main_news_item_wrap {
    padding: 10px 0;
    outline: none;
    margin: 10px;
}
.top_nav_list{
    margin-bottom: 0px;
}
.breadcrumbs{
    margin: 30px 0px -15px 0px;
}
.popular_single span{
    font-size: 25px;
}
#order_form .na5ku-calcForm2 .order{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
#order_form .na5ku-calcForm2 .order .order-form__group--button{
    margin-bottom: 10px;
}
.mobile_header_top > *:not(.mobile_header_order_btn) + .mobile_header_ham {
    margin-left: auto;
}

.na5ku-cabinet-buttons .button_cabinet_active .login-btn i{
    margin-right: 5px;
}
.na5ku-cabinet-buttons .button_cabinet_active .na5ku-cabinet-buttons{
    margin-top: 0px !important;
}
@media (min-width: 992px)
{
    .na5ku-cabinet-buttons .button_cabinet_active .login-btn,
    .na5ku-cabinet-buttons .button_cabinet_active .reg-btn
    {
        font-size: 14px !important;
        font-weight: bold;

        display: flex;

        width: 190px;
        height: 50px;
        margin-top: 0 !important;
        padding: 0 !important;

        cursor: pointer;
        transition: color .3s, background-color .3s;
        text-align: center;
        text-transform: uppercase;

        color: #fff !important;
        border: 1px solid #0595f7;
        border-radius: 6px;
        outline: none;
        background-color: #0595f7;

        align-items: center;
        justify-content: center;
        font-family: inherit !important;
    }
}

@media (max-width: 990px)
{
    .na5ku-cabinet-buttons .button_cabinet_active .login-btn,
    .na5ku-cabinet-buttons .button_cabinet_active .reg-btn
    {
        font-size: 12px !important;
        font-weight: bold;

        display: flex;

        width: 130px;
        height: 50px;
        margin-top: 0 !important;
        padding: 0 !important;

        cursor: pointer;
        transition: color .3s, background-color .3s;
        text-align: center;
        text-transform: uppercase;

        color: #fff !important;
        border: 1px solid #0595f7;
        border-radius: 6px;
        outline: none;
        background-color: #0595f7;

        align-items: center;
        justify-content: center;
        font-family: inherit !important;
    }
}