.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1180px){
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1179px){
    .head_logo{
        width: 90px;
    }

    .blog_single .breadcrumbs{
        margin: 0px auto;
        padding-top: 20px;
    }
    .blog_single .how_it_works_title img{
        display: none;
    }

    .head_info{
        font-size: 12px;
        padding-left: 12px;
    }

    .head_social_item{
        width: 34px;
        height: 34px;
    }

    .head_social_item svg{
        width: 16px;
    }

    .head_social_item + .head_social_item{
        margin-left: 10px;
    }

    .head_contacts_tel{
        font-size: 16px;
    }

    .head_contacts_tel img{
        margin-right: 8px;
    }

    .head_contacts_text{
        font-size: 10px;
    }

    .head_order_btn{
        width: 160px;
        height: 40px;
        font-size: 12px;
    }

    .head_sign_up{
        width: 110px;
        height: 40px;
        padding: 0 8px;
    }

    .head_sign_up span{
        font-size: 12px;
    }

    .top_nav_list > li > a{
        padding: 0 15px;
        font-size: 14px;
        height: 40px;
    }

    .submenu_one_list li a{
        width: 250px;
        height: 40px;
        font-size: 14px;
        padding: 0 15px;
    }

    .main_first_section{
        width: 580px;
    }

    .main_first_title{
        font-size: 38px;
    }

    .main_first_desc{
        font-size: 16px;
    }

    .we_write_offer_item{
        width: 220px;
    }

    .we_write_offer_item_title{
        font-size: 16px;
        height: 62px;
    }

    .we_write_offer_item_title img{
        height: 40px;
    }

    .we_write_additional_list{
        grid-template-columns: repeat(3, 1fr);
    }

    .examples_tabs_nav_link{
        font-size: 14px;
        padding: 0 20px;
        height: 60px;
    }

    .examples_tabs_nav_link svg{
        margin-right: 10px;
    }

    .examples_tab_reviews_item{
        width: 275px;
    }

    .main_news_item{
        width: 290px;
    }

    .main_news_item_title{
        font-size: 14px;
    }

    .main_news_item_text{
        font-size: 12px;
    }

    .how_to_order_title{
        font-size: 42px;
    }

    .how_to_order_img{
        width: 360px;
    }

    .seo_text p{
        font-size: 14px;
    }

    .page_title{
        font-size: 42px;
    }

    .how_it_works_title{
        font-size: 42px;
    }

    .footer_col.info{
        margin-right: 60px;
    }

    .foot_list li a{
        font-size: 14px;
    }

    .foot_tel{
        font-size: 18px;
    }

    .foot_tel_text{
        font-size: 11px;
    }

    .footer_bottom{
        height: 40px;
    }

    .foot_copy{
        font-size: 10px;
    }

    .indiv_first_list_item:nth-child(2){
        margin: 0 20px;
    }

    .indiv_first_list_item{
        max-width: unset;
        flex: 1;
    }

    .indiv_features_item{
        width: 200px;
        height: 200px;
    }

    .indiv_features_item_title{
        font-size: 40px;
    }

    .indiv_features_item_text{
        font-size: 16px;
    }

    .indiv_we_help_slider_item{
        width: 200px;
        height: 200px;
    }

    .indiv_we_help_slider_item_img{
        width: 100px;
        height: 100px;
    }

    .indiv_stages_item:nth-child(6){
        grid-column-start: unset;
        grid-column-end: unset;
    }

    .how_to_order_title.cities_title{
        max-width: 860px;
    }
}

@media screen and (max-width: 991px){
    .page_wrap{
        padding-top: 50px;
    }

    .header_wrap{
        display: none;
    }

    .top_nav_wrap{
        display: none;
    }

    .mobile_header{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: background-color .5s;
        background-color: transparent;
    }

    .mobile_header.active{
        height: 100vh;
        background-color: rgba(0,0,0,.8);
    }

    .mobile_header_top_wrap{
        background-color: #fff;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
    }

    .mobile_header_top{
        display: flex;
        align-items: center;
        height: 50px;
    }

    .mobile_header_logo{
        height: 29px;
    }

    .mobile_header_order_btn{
        width: 145px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #0595F7;
        border-radius: 6px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #0595F7;
        margin-left: auto;
        margin-right: 13px;
        text-align: center;
    }

    .mobile_header_ham{
        width: 40px;
        height: 40px;
        background-color: #0595F7;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .mobile_header_ham span{
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
    }

    .mobile_header_ham span:nth-child(2){
        margin: 7px 0;
    }

    .mobile_header_ham.active span:nth-child(2){
        margin: 7px 0;
        display: none;
    }

    .mobile_header_ham.active span{
        width: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .mobile_header_ham.active span:first-child{
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .mobile_header_ham.active span:last-child{
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .mobile_header_bottom_slide{
        display: none;
    }

    .mobile_header_bottom{
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
        border-radius: 0 0 10px 10px;
        background-color: #fff;
        padding: 15px;
    }

    .mobile_header_nav{
        padding: 10px;
        background-color: #052852;
        border-radius: 10px;
        margin-bottom: 25px;
        max-height: 330px;
        overflow-y: auto;
    }

    .mobile_header_nav li{
        list-style: none;
    }

    .mobile_header_nav li.sublist{
        position: relative;
    }

    .mobile_header_nav li.sublist:after{
        content: '';
        display: block;
        position: absolute;
        right: 15px;
        top: 19px;
        width: 10px;
        height: 6px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .3s;
    }

    .mobile_header_nav li.sublist.active:after{
        transform: rotate(180deg);
    }

    .mobile_header_nav > li.sublist:after{
        background-image: url(../img/mob_nav_arr.svg);
    }

    .mobile_header_sub_list > li.sublist:after{
        background-image: url(../img/mob_nav_arr_b.svg);
    }

    .mobile_header_sub_list > li.sublist.active:after{
        background-image: url(../img/mob_nav_arr.svg);
    }

    .mobile_header_nav a{
        display: flex;
        align-items: center;
        padding: 0 19px;
        height: 44px;
        font-weight: 600;
        color: #fff;
        border-radius: 8px;
        transition: .3s;
    }

    .mobile_header_nav li.active > a{
        background-color: #0595F6;
        border-radius: 8px 8px 0 0;
    }

    .mobile_header_sub_nav{
        display: none;
    }

    .mobile_header_sub_list{
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        padding: 5px;
    }

    .mobile_header_sub_list li{
        background-color: #F5F5F7;
        color: #052852;
    }

    .mobile_header_sub_list li.active > a{
        background-color: #052852;
        color: #fff;
    }

    .mobile_header_sub_list li a{
        color: #052852;
    }

    .mobile_header_sub_list li.active a{
        color: #fff;
    }

    .mobile_header_sub_nav_two{
        display: none;
    }

    .mobile_header_sub_list_two{
        background-color: #0595f7;
        border-radius: 0 0 10px 10px;
    }

    .mobile_header_sub_list_two li{
        background-color: transparent;
    }

    .mobile_header_sub_list_two li a{
        color: #fff;
    }

    .mobile_header_bottom_row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mobile_header_signup_btn{
        width: 212px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFCC00;
        border-radius: 6px;
        outline: none;
    }

    .mobile_header_signup_btn img{
        margin-left: 18px;
    }

    .head_social_item{
        width: 40px;
        height: 40px;
    }

    .head_social_item svg{
        width: 18px;
    }

    .main_first_section_wrap{
        background-position: left -13px;
    }

    .main_first_section{
        width: 100%;
    }

    .calculate_price_title{
        font-size: 42px;
    }

    .calculate_price_section.main{
        width: 100%;
    }

    .we_write_offers_list{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-gap: 25px;
        justify-content: center;
    }

    .we_write_offer_item{
        width: 100%;
    }

    .we_write_offer_item_btn_wrap{
        display: block;
        position: static;
    }

    .we_write_offer_item_price{
        border-radius: 0;
    }

    .we_write_additional_list{
        grid-template-columns: repeat(2, 1fr);
    }

    .how_it_works_tabs{
        display: grid;
        grid-template-columns: 1fr;
    }

    .how_it_works_steps{
        flex-direction: row;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .how_it_works_steps img{
        width: 47px;
        height: 47px;
        object-fit: contain;
        transform: rotate(-90deg);
        margin: 0 9px;
    }

    .how_it_works_tab_item{
        position: static;
        display: none;
    }

    .how_it_works_tab_item.active{
        display: block;
    }

    .how_it_works_tab_content{
        margin-bottom: 20px;
    }

    .how_it_works_links{
        grid-row-start: 3;
        grid-row-end: 4;
        margin-right: 0;
    }

    .how_it_works_link_item{
        display: none;
        width: 100%;
        line-height: 1.6;
        padding: 0;
    }

    .how_it_works_link_item.active{
        display: block;
        box-shadow: none;
    }

    .examples_list_slider_item{
        width: 290px;
    }

    .page_title{
        font-size: 36px;
    }

    .seo_text{
        /*display: flex;*/
        /*flex-direction: column;*/
    }

    .how_to_order_img{
        /*order: 2;*/
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .how_to_order_title{
        /*order: 1;*/
    }

    .seo_text p{
        /*order: 3;*/
    }

    .how_to_order_title{
        font-size: 36px;
    }

    .footer_top{
        flex-wrap: wrap;
    }

    .footer_col.info{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .how_to_order_img_left{
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .how_to_order_title{
        max-width: 400px;
    }

    .text_section{
        padding-bottom: 150px;
    }

    .cities_list{
        flex-wrap: wrap;
        margin-bottom: 80px;
    }

    .cities_item{
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .cities_item + .cities_item{
        margin-left: 0;
    }

    .cities_form_title{
        font-size: 42px;
    }

    .calculate_price_section.indiv{
        flex-wrap: wrap;
    }

    .calculate_price_right{
        margin-left: 0;
        margin-top: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .calculate_price_right_item{
        width: 50%;
        margin-bottom: 15px;
    }

    .indiv_features_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .indiv_features_item{
        width: 100%;
    }

    .indiv_features_section_wrap{
        height: unset;
        padding-bottom: 150px;
    }

    .how_it_works_title{
        text-align: center;
    }

    .indiv_stages_grid{
        justify-content: center;
        grid-gap: 20px;
    }

    .indiv_stages_item:nth-child(7) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 767px){
    .main_first_title{
        font-size: 30px;
    }

    .calculate_price_section{
        padding: 20px;
    }

    .calculate_price_select_head{
        padding: 0 15px;
        font-size: 14px;
        height: 40px;
    }

    .calculate_price_select_list_item label{
        height: 40px;
        font-size: 14px;
        padding: 0 15px;
    }

    .calculate_price_form_bottom_row{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .calculate_price_form_send_info{
        width: 100%;
        margin-bottom: 15px;
        justify-content: center;
    }

    .we_write_additional_item_title{
        font-size: 16px;
    }

    .we_write_additional_item_price{
        font-size: 14px;
    }

    .we_write_additional_item_price span{
        font-size: 20px;
    }

    .examples_tabs_nav{
        flex-wrap: wrap;
    }

    .examples_tabs_nav_link{
        background-color: #F5F5F7;
        width: 50%;
        border-radius: 10px 10px 0 0;
        font-size: 12px;
    }

    .examples_tabs_nav_link:first-child{
        width: 100%;
    }

    .examples_tabs_content:nth-child(1),
    .examples_tabs_content:nth-child(2),
    .examples_tabs_content:nth-child(3){
        border-radius: 0 0 20px 20px;
    }

    .examples_tab_reviews_item{
        width: 320px;
    }

    .how_it_works_title{
        font-size: 28px;
    }

    .how_it_works_title img{
        width: 50px;
    }

    .how_it_works_title span{
        margin: 0 15px;
    }

    .page_title{
        font-size: 28px;
    }

    .page_title.white img{
        width: 50px;
        margin-bottom: -5px;
    }

    .main_news_item{
        width: 350px;
    }

    .calculate_price_title{
        font-size: 32px;
    }

    .calculate_price_desc{
        font-size: 18px;
    }

    .we_write_offers_list {
        grid-template-columns: 250px;
    }

    .indiv_first_list{
        width: 100%;
        display: block;
    }

    .indiv_first_list_item:nth-child(2){
        margin: 20px 0;
    }

    .indiv_first_section_wrap{
        height: auto;
        padding: 0px 0 200px;
    }

    .indiv_first_breadcrumbs{
        flex-wrap: wrap;
    }

    .indiv_first_breadcrumbs li{
        margin-bottom: 10px;
    }

    .how_to_order_title.cities_title{
        font-size: 24px;
    }

    .cities_form_input_row{
        flex-wrap: wrap;
    }

    .cities_form_btn.blue_btn{
        margin: 20px auto 0;
    }

    .cities_form_input_row input{
        margin-right: 0;
    }

    .cities_form_title{
        font-size: 26px;
    }

    .cities_form{
        padding: 25px;
    }

    section.other_cities_section_wrap{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 575px){
    .blue_btn{
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .main_first_section_wrap{
        background-image: url(../img/first_bg_mob.jpg);
        background-position: center bottom;
    }

    .main_first_section{
        padding-bottom: 100px;
        padding-top: 31px;
    }

    .main_first_title{
        font-size: 24px;
    }

    .main_first_title img{
        margin-right: 10px;
    }

    .main_first_desc{
        font-size: 14px;
        margin-bottom: 18px;
    }

    .main_first_item{
        font-size: 12px;
    }

    .main_first_item + .main_first_item{
        margin-top: 21px;
    }

    .calculate_price_title{
        font-size: 24px;
    }

    .calculate_price_desc{
        font-size: 12px;
    }

    .calculate_price_form_row{
        display: block;
        margin-bottom: 17px;
    }

    .calculate_price_form_item + .calculate_price_form_item{
        margin-top: 17px;
        margin-left: 0;
    }

    input.calculate_price_select_head{
        font-size: 14px;
    }

    .calculate_price_form_additional_text{
        font-size: 14px;
    }

    .calculate_price_form_send_info{
        font-size: 14px;
    }

    .calculate_price_section.main{
        padding: 20px 15px;
    }

    .we_write_section_wrap{
        background-image: url(../img/we_write_bg_mob.jpg);
    }

    .we_write_additional_list{
        grid-gap: 10px;
    }

    .we_write_additional_item{
        padding: 10px;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .we_write_additional_item_title{
        padding-left: 0;
    }

    .we_write_additional_item_title:before{
        display: none;
    }

    .we_write_additional_item_price{
        font-size: 0;
        justify-content: flex-start;
    }

    .we_write_offer_item_title{
        font-size: 20px;
        height: 80px;
    }

    .we_write_offers_list{
        grid-template-columns: 1fr;
        margin-top: 18px;
    }

    .examples_tabs_content{
        padding: 15px;
    }

    .examples_list_slider_item{
        width: 100%;
    }

    .examples_tab_reviews_item{
        width: 100%;
    }

    .how_it_works_title{
        font-size: 24px;
        text-align: center;
        align-items: flex-start;
    }

    .how_it_works_title img{
        width: 40px;
        margin-top: 12px;
    }

    .how_it_works_steps{
        justify-content: space-between;
    }

    .how_it_works_steps img{
        height: 28px;
        width: 10px;
        object-fit: cover;
        object-position: center bottom;
    }

    .how_it_works_link_item{
        font-size: 14px;
    }

    .page_title,
    .page_title.white{
        display: block;
        font-size: 24px;
    }

    .page_title img,
    .page_title.white img{
        margin-bottom: 0;
        width: 40px;
        margin-left: 15px;
    }

    .page_title.small{
        font-size: 16px;
    }

    .faq_accordion_item{
        margin-left: 50px;
    }

    .faq_accordion_item_head_num_wrap{
        width: 40px;
        height: 40px;
        padding: 2px;
        margin-left: -50px;
        flex: none;
    }

    .faq_accordion_item_head_num{
        font-size: 16px;
    }

    .faq_accordion_item_head_title{
        font-size: 14px;
        margin-left: 10px;
        padding-right: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .faq_accordion_item_head_title_symbol{
        flex: none;
        margin-left: 30px;
    }

    .page_title.news img{
        display: none;
    }

    .main_news_head_all_btn{
        width: 149px;
        height: 40px;
        margin-right: 0;
        font-size: 14px;
    }

    .main_news_item{
        width: 100%;
    }

    .how_to_order_title{
        font-size: 24px;
        max-width: 350px;
    }

    .how_to_order_title img{
        width: 40px;
    }

    .how_to_order_img{

    }

    .h1_header{
        font-size: 24px;
    }

    .h2_header,
    .h3_header,
    .h4_header,
    .h5_header{
        font-size: 16px;
    }

    .footer_wrap{
        background-image: url(../img/footer_bg_mob.jpg);
        background-position: center top;
    }

    .footer_col.list{
        width: 100%;
        flex: none;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid rgba(255,255,255,.15);
    }

    .foot_list.list_two li+ li{
        margin-top: 22px;
    }

    .footer_bottom{
        height: auto;
        border-top: 1px solid rgba(255,255,255,.15);
        padding: 26px 0;
        display: block;
    }

    .foot_copy{
        margin-bottom: 17px;
    }

    .how_to_order_section_wrap{
        background-image: url(../img/how_order_bg_mob.jpg);
        margin-top: 0;
        padding-bottom: 50px;
    }

    .we_write_section{
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .calculate_price_section_wrap{
        /*margin-top: 40px;*/
    }

    .head_social,
    .head_contacts{
        margin-bottom: 10px;
    }

    .indiv_stages_grid{
        grid-template-columns: 1fr;
    }

    .indiv_stages_item:nth-child(7){
        grid-column-start: unset;
        grid-column-end: unset;
    }

    .indiv_features_list{
        grid-template-columns: 1fr;
    }

    .calculate_price_right{
        flex-direction: column;
    }

    .calculate_price_right_item{
        width: 100%;
    }

    .indiv_first_breadcrumbs{
        margin-bottom: 21px;
    }

    .indiv_first_title{
        margin-bottom: 6px;
    }

    .indiv_first_desc{
        font-size: 14px;
        margin-bottom: 24px;
    }

    .indiv_first_list_item_text{
        font-size: 12px;
    }

    .indiv_first_list_item img{
        margin-right: 15px;
    }

    .indiv_first_list_item{
        align-items: center;
    }

    .calculate_price_section.indiv{
        padding: 20px 15px;
    }

    .indiv_features_item{
        flex-direction: row;
        height: 110px;
    }

    .indiv_features_item img{
        margin-bottom: 0;
        margin-right: 25px;
    }

    .indiv_features_item_title{
        font-size: 36px;
    }

    .indiv_features_item_text{
        font-size: 14px;
    }

    .indiv_we_help_slider_item{
        width: 140px;
        height: 140px;
    }

    .indiv_we_help_slider_item_img{
        width: 83px;
        height: 83px;
    }

    .indiv_we_help_slider_item_text{
        font-size: 16px;
    }

    .text_section{
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url(../img/indev_text_bg_mob.jpg);
        background-size: 100% 100%;
    }

    .how_to_order_title.cities_title{
        font-size: 18px;
        margin-bottom: 25px;
        max-width: 300px;
    }

    .how_to_order_title.cities_title img{
        width: 40px;
        order: 5;
        margin-bottom: -4px;
        margin-left: 10px;
    }

    .cities_item label{
        height: 40px;
        padding: 0 20px;
        font-size: 14px;
    }

    .cities_item:nth-child(1) label{
        width: auto;
    }
    .cities_item:nth-child(2) label{
        width: auto;
    }
    .cities_item:nth-child(3) label{
        width: auto;
    }
    .cities_item:nth-child(4) label{
        width: auto;
    }
    .cities_item:nth-child(5) label{
        width: auto;
    }

    .cities_list{
        margin-bottom: 60px;
    }

    .cities_form_desc{
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 11px;
    }

    .cities_form_title{
        font-size: 24px;
    }

    .cities_form{
        padding: 25px 15px 30px;
    }

    .cities_form_input_row input{
        height: 50px;
    }

    .cities_form_btn.blue_btn{
        height: 50px;
    }

    .indiv_first_section_wrap{
        background-image: url(../img/indiv_first_bg_mob.jpg);
        padding-bottom: 120px;
        background-position: center bottom;
    }

    .how_it_works_section_wrap{
        padding-top: 35px;
    }

    .faq_section_wrap{
        background-image: url(../img/faq_bg_mob.jpg);
        background-position: center;
        padding-top: 100px;
        padding-bottom: 100px;
        background-size: 100% 100%;
    }

    .indiv_features_section_wrap{
        background-image: url(../img/feat_bg_mob.jpg);
        background-size: 100% 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .indiv_stages_section_wrap{
        margin-bottom: 20px;
    }

    .foot_tel{
        font-size: 20px;
    }

    .foot_tel_text{
        font-size: 12px;
    }
}



